
/* reset styles */

* {
  margin: 40px;
  padding: 0px;
}

/* begin styles */

body {
  color: brown;
  font-family:krungthep; san-serifs;
  background: beige;
}

h1 {
	color: dark brown;
	font-family:krungthep; san-serifs;
	text-align: left;
}