
/* reset styles */

* {
  margin: 40px;
  padding: 0px;
}

/* begin styles */

body {
  color: #2d1e16;
  font-family: Krungthep, sans-serif;
  background-image: url("tree.jpg"),url("light.jpg");
  background-repeat: no-repeat;no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position: right,left top;
  
}
img {
  border-radius: 50%;
}

h1 {
  color: #bba58b;
    font-family: Krungthep, sans-serif;
  text-align: left;
  text-indent: -3em
}

a, a:visited {
  color: #412216;
}

a:hover {
  color: #e89446;
}

