
/* reset styles */

* {
  margin: 40px;
  padding: 0px;
}

/* begin styles */

body {
  color: brown;
  font: generic-family;
  background: beige; <img src="tree.jpg" alt="tree"> image-rendering: right;
}

h1 {
	color: brown;
	text-align: left;
}